name: Publish npm package
on:
  push:
    branches: main
jobs:
  npm_publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com
      - uses: goto-bus-stop/setup-zig@v2
        with:
          cache: false
      - name: Run tests
        run: zig build test --summary new
      - name: Build wasm32-wasi
        run: zig build --summary new --release=small -Dtarget=wasm32-wasi
      - name: Build x86_64-linux
        run: zig build --summary new --release=small -Dtarget=x86_64-linux
      - name: Build aarch64-linux
        run: zig build --summary new --release=small -Dtarget=aarch64-linux
      - name: Build x86_64-macos
        run: zig build --summary new --release=small -Dtarget=x86_64-macos
      - name: Build aarch64-macos
        run: zig build --summary new --release=small -Dtarget=aarch64-macos
      - name: Build x86_64-windows
        run: zig build --summary new --release=small -Dtarget=x86_64-windows
      - name: Build aarch64-windows
        run: zig build --summary new --release=small -Dtarget=aarch64-windows
      - name: Get version
        id: version
        run: echo "version=$(./zig-out/bin/kdblint version)" >> "$GITHUB_OUTPUT"
      - name: Set npm version
        run: npm version --allow-same-version --no-git-tag-version ${{ steps.version.outputs.version }}
      - name: Publish latest
        if: ${{ !contains(steps.version.outputs.version, 'dev') }}
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish dev
        if: ${{ contains(steps.version.outputs.version, 'dev') }}
        run: npm publish --tag dev
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
